<template>
  <v-container style="padding-top: 0; padding-bottom: 0; height: 0px">
    <v-row>
      <v-col cols="12">
        <v-alert color="#1f1a2e" dismissible>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfCdFvLtuwBnRT0PRpdE59_epE9WvNHtiu0UH4fyU3shC-fxQ/viewform"
            target="_blank"
          >
            We are recruiting for this school year! Click here to show interest!
          </a>
        </v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    sticky: false,
  }),
};
</script>

<style scoped>
.v-alert {
  font-size: 24px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Helvetica Neue, sans-serif;
  z-index: 3;
  width: 100%;
  margin-top: 72px;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:link {
  color: white;
}
</style>
